@import "../../variables.scss";

.how-it-works {
  &__title {
    margin: 0;
    margin-bottom: 6rem;
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 4.2rem;
    }
    @media (max-width: 576px) {
      margin-bottom: 2.6rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 34px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
    }

    .item {
      @media (max-width: 768px) {
        display: flex;
        align-items: flex-start;
        gap: 16px;
      }
      &__icon {
        flex-shrink: 0;
        margin-bottom: 1.6rem;

        @media (max-width: 768px) {
          width: 56px;
          height: 56px;
        }

        @media (max-width: 576px) {
          margin-bottom: 0;
        }
      }

      &__title {
        margin: 0;
        margin-bottom: 0.4rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.4rem;
        color: $black;
      }

      &__description {
        margin: 0;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: $dark-gray;
      }
    }
  }
}
