@import "../../variables.scss";
.nav {
  @media (max-width: 1024px) {
    display: none;
  }

  &__list {
    align-items: center;
    gap: 2.4rem;
  }

  &__link {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: $light;
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $light;
      transform: scale(0);
      transition: transform 0.25s linear;
    }

    @media (min-width: 1025px) {
      &:hover {
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
